gdd-talos-talos-c1.yaml
gdd-talos-talos-c2.yaml
gdd-talos-talos-c3.yaml
gdd-talos-talos-w1.yaml
gdd-talos-talos-w2.yaml
gdd-talos-talos-w3.yaml
gdd-talos-talos-w4.yaml
gdd-talos-talos-w5.yaml
gdd-talos-talos-w6.yaml
gdd-talos-talos-w7.yaml
gdd-talos-talos-w8.yaml
talosconfig
