---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: terrakube
spec:
  interval: 1h
  url: https://terrakube-io.github.io/terrakube-helm-chart
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app terrakube
spec:
  interval: 1h

  chart:
    spec:
      chart: terrakube
      version: "4.5.4"
      sourceRef:
        kind: HelmRepository
        name: terrakube

  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  valuesFrom:
    - kind: Secret
      name: terrakube-secret
      valuesKey: TERRAKUBE_PAT
      targetPath: security.patSecret
    - kind: Secret
      name: terrakube-secret
      valuesKey: TERRAKUBE_INTERNAL
      targetPath: security.internalSecret
    - kind: Secret
      name: terrakube-secret
      valuesKey: TERRAKUBE_OIDC_CLIENT_SECRET
      targetPath: dex.config.connectors[0].config.clientSecret
    - kind: Secret
      name: terrakube-secret
      valuesKey: TERRAKUBE_OIDC_CLIENT_ID
      targetPath: dex.config.connectors[0].config.clientID



    - kind: Secret
      name: terrakube-bucket
      valuesKey: AWS_ACCESS_KEY_ID
      targetPath: storage.minio.accessKey
    - kind: Secret
      name: terrakube-bucket
      valuesKey: AWS_SECRET_ACCESS_KEY
      targetPath: storage.minio.secretKey
    - kind: ConfigMap
      name: terrakube-bucket
      valuesKey: BUCKET_NAME
      targetPath: storage.minio.bucketName

  values:
    api:
      enabled: true
      replicaCount: "1"
      serviceType: ClusterIP


    ui:
      enabled: true
      replicaCount: "1"
      serviceType: ClusterIP

      properties:
        apiUrl: "https://terra-api.gddnet.io/api/v1/"
        registryUri: "https://terra-registry.gddnet.io"
        redirectUri: "https://terra.gddnet.io"
        authority: "https://terra-dex.gddnet.io"

    registry:
      enabled: true
      replicaCount: "1"
      serviceType: ClusterIP


    executor:
      enabled: true
      replicaCount: "1"
      serviceType: ClusterIP

      properties:
        toolsRepository: "https://github.com/terrakube-io/terrakube-extensions"
        toolsBranch: "main"

    security:
      adminGroup: "TERRAKUBE_ADMIN"
      useOpenLDAP: false
      dexClientId: "terrakube-ui"
      dexClientScope: "email openid profile offline_access groups"

    ingress:
      controller: "gatewayapi"
      useTls: true
      gatewayapi:
        gateways:
          - name: external
            namespace: kube-system

      ui:
        enabled: true
        domain: "terra.gddnet.io"
        path: "/"
        pathType: "Prefix"

      api:
        enabled: true
        domain: "terra-api.gddnet.io"
        path: "/"
        pathType: "Prefix"

      registry:
        enabled: true
        domain: "terra-registry.gddnet.io"
        path: "/"
        pathType: "Prefix"


      executor:
        enabled: false

    dex:
      enabled: true
      domain: "terra-dex.gddnet.io"
      path: "/"
      pathType: "Prefix"
      config:
        issuer: "https://terra-dex.gddnet.io"
        storage:
          type: kubernetes
          config:
            inCluster: true
        web:
          http: 0.0.0.0:5556
          allowedOrigins: ["*"]
          skipApprovalScreen: true
        oauth2:
          responseTypes: ["code", "token", "id_token"]

        staticClients:
          - id: terrakube-ui
            name: terrakube-ui
            public: true
            redirectURIs:
              - "https://terra.gddnet.io"
              - "http://localhost:10001/login"
              - "http://localhost:10000/login"
              - "/device/callback"

        connectors:
          - type: oidc
            id: authentik
            name: authentik
            config:
              issuer: "https://sso.gddnet.io/application/o/terrakube/"
              redirectURI: "https://terra-dex.gddnet.io/callback"
              insecureEnableGroups: true
              scopes:
                - openid
                - profile
                - email
                - groups
              getUserInfo: true
    storage:
      defaultStorage: false
      minio:
        endpoint: "http://rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80"