---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shelfmark
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudflare-tunnel
      namespace: network
  values:
    controllers:
      shelfmark:
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/calibrain/shelfmark
              tag: v1.1.0@sha256:cbaed8aeb84fda6deb6216bfbe387b462444a0c08fe72dd4151eb951e7dfaa9c
            command:
              - gunicorn
            args:
              - --access-logfile=-
              - --error-logfile=-
              - --worker-class=geventwebsocket.gunicorn.workers.GeventWebSocketWorker
              - --workers=1
              - -t
              - "300"
              - -b
              - 0.0.0.0:8084
              - shelfmark.main:app
            probes:
              liveness:
                enabled: true
                spec:
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 8084
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"


    service:
      app:
        controller: shelfmark
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: book Management
          gethomepage.dev/group: Service
          gethomepage.dev/icon: calibre-web.svg
          gethomepage.dev/name: Shelfmark
          gethomepage.dev/app: *app
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |-
            group: Service
            conditions: ["[STATUS] == 200"]
        hostnames: ["bookrequest.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
      books:
        type: nfs
        server: 10.0.30.134
        path: /medianfs/books
        globalMounts:
          - path: /cwa-book-ingest
            subPath: cwa-book-ingest
      tmpfs:
        type: emptyDir
        sizeLimit: 1Gi
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /var/log
            subPath: var-log
