---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sparkyfitness-frontend
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudflare-tunnel
      namespace: network
  values:
    controllers:
      main:
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: ghcr.io/codewithcj/sparkyfitness-frontend
              tag: v0.15.9.4@sha256:a7b4427a4317fd6b95a7b186094855fdc1a410fda5e648fb919028bec457c3f1
            env:
              PROMETHEUS_ENABLED: true
              TZ: America/Chicago
              SPARKY_FITNESS_LOG_LEVEL: debug
              SPARKY_FITNESS_SERVER_HOST: sparkyfitness-server.gdd-service
              SPARKY_FITNESS_SERVER_PORT: 3010
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 500Mi

    service:
      main:
        ports:
          http:
            port: &port 80


    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Service
          gethomepage.dev/name: Sparky Fitness
          gethomepage.dev/icon: sparkyfitness.svg
        hostnames:
          - "fitness.gddnet.io"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *port

