---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sparkyfitness-server
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudflare-tunnel
      namespace: network
  values:
    controllers:
      main:
        strategy: RollingUpdate
        containers:
          main:
            image:
              repository: ghcr.io/codewithcj/sparkyfitness-server
              tag: v0.15.9.4@sha256:d49f6b20536ca946dd108fb9fde7f1a041c1ebadc73f55a8eec246eb16dd75c8
            env:
              PROMETHEUS_ENABLED: true
              TZ: America/Chicago
              SPARKY_FITNESS_LOG_LEVEL: debug
              SPARKY_FITNESS_DB_HOST: postgres-rw.database.svc.cluster.local
              SPARKY_FITNESS_DB_PORT: 5432
              SPARKY_FITNESS_DISABLE_SIGNUP: false
              SPARKY_FITNESS_SERVER_HOST: "localhost"
              SPARKY_FITNESS_SERVER_PORT: "3010"
              SPARKY_FITNESS_FORCE_EMAIL_LOGIN: "true"
              NODE_ENV: "production"
              SPARKY_FITNESS_FRONTEND_URL: "https://fitness.gddnet.io"

              #SPARKY_FITNESS_ADMIN_EMAIL: ${SPARKY_FITNESS_ADMIN_EMAIL}  #User with this email can access the admin panel
              #GARMIN_MICROSERVICE_URL: http://sparkyfitness-garmin:8000 # Add Garmin microservice URL

            envFrom:
              - secretRef:
                  name: sparky-secret
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 500Mi

    service:
      main:
        ports:
          http:
            port: &port 3010


    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Service
          gethomepage.dev/name: Sparky Fitness
          gethomepage.dev/icon: sparkyfitness.svg
        hostnames:
          - "fitness.gddnet.io"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *port

