---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./prometheusrule.yaml
configMapGenerator:
  - name: gatus-configmap
    files:
#      - alerts.yaml=./config/alerts.yaml
      - config.yaml=./config/config.yaml
generatorOptions:
  disableNameSuffixHash: true


