---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellystat
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          main:
            image:
              repository: docker.io/cyfershepard/jellystat
              tag: 1.1.6
            env:
              TZ: America/Chicago
              POSTGRES_IP: postgres-rw.database.svc.cluster.local
              POSTGRES_PORT: 5432
              POSTGRES_DB: gdd_jellystat
              POSTGRES_USER: gdd_jellystat_user
            envFrom:
              - secretRef:
                  name: jellystat-secret

    service:
      main:
        controller: main
        ports:
          http:
            port: &port 3000

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/name: Jellystat
          gethomepage.dev/icon: jellystat.svg
          gethomepage.dev/description: "Media stats"
          gethomepage.dev/widget.type: jellystat
          gethomepage.dev/widget.url: "http://jellystat.gdd-plex.svc"
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_JELLYSTAT_TOKEN}}`}}"
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |-
            group: Media
            depends-on:
              - connectivity_cftunnel
            conditions: ["[STATUS] == 200"]
            alerts:
              - type: ntfy
              - type: discord
              - type: github
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
