---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudflare-tunnel
      namespace: network
  values:
    controllers:
      paperless:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.18.4@sha256:3421ebe06ed27662d014046cf5089e612de853aae0c676a2bc72f73b38080e57
            env:
              PROMETHEUS_ENABLED: true
              TZ: America/Chicago
              # PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_URL: https://paperless.${SECRET_DOMAIN}
              PAPERLESS_TIME_ZONE: America/Chicago
              PAPERLESS_WEBSERVER_WORKERS: "2"
              PAPERLESS_TASK_WORKERS: "2"
              PAPERLESS_ACCOUNT_ALLOW_SIGNUPS: "false"
              PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: "true"
              # PAPERLESS_CONSUMPTION_DIR: /data/nas/consume
              PAPERLESS_DATA_DIR: /config/data
              # PAPERLESS_EXPORT_DIR: /data/nas/export
              PAPERLESS_MEDIA_ROOT: /config/media
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_OCR_LANGUAGES: "chi-sim chi-tra eng"
              PAPERLESS_OCR_LANGUAGE: chi_sim+chi_tra+eng
              PAPERLESS_REDIS: redis://dragonfly.database.svc.cluster.local:6379/0
              USERMAP_UID: "1000"
              USERMAP_GID: "1000"
              PAPERLESS_ENABLE_ALLAUTH: "true"
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_AUTO_LOGIN: "true"
              PAPERLESS_AUTO_CREATE: "true"
              PAPERLESS_LOGOUT_REDIRECT_URL: https://sso.gddnet.io/application/o/paperless/end-session/
            envFrom:
              - secretRef:
                  name: paperless-secret

            resources:
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 1Gi
    service:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: paperless.gddnet.io
          external-dns.alpha.kubernetes.io/ttl: "300"
          external-dns.alpha.kubernetes.io/target: sso.gddnet.io
        ports:
          http:
            port: &port 8000
    serviceMonitor:
      app:
        endpoints:
          - port: http

    persistence:
      config:
        existingClaim: paperless
        globalMounts:
          - path: /config
