---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tidarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudflare-tunnel
      namespace: network
  values:
    controllers:
      tidarr:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/cstaelen/tidarr
              tag: 1.1.9@sha256:79a2c62aed04dbe9770272443192eae145f26bdc2d188e665b13ab763341206c
            env:
              TZ: America/Chicago
              ENABLE_BEETS: true
              REPLAY_GAIN: true
              OIDC_ISSUER: https://sso.gddnet.io/application/o/tidarr/
              OIDC_REDIRECT_URI: https://tidarr.${SECRET_DOMAIN}/api/auth/oidc/callback
              PORT: &port 8484
              PUID: 1000
              PGID: 1000
            envFrom:
              - secretRef:
                  name: tidarr-secret
            resources:
              requests:
                cpu: 10m
                memory: 150Mi
              limits:
                memory: 1500Mi
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [1000]

    service:
      app:
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        endpoints:
          - port: http
    route:
      app:
        hostnames: ["tidarr.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        type: persistentVolumeClaim
        storageClass: ceph-block
        accessMode: ReadWriteOnce
        size: 10Gi
        globalMounts:
          - path: /shared
      tmp:
        type: emptyDir
      media:
        type: nfs
        server: 10.0.30.134
        path: /medianfs/music
        globalMounts:
          - path: /music
      downloads:
        type: nfs
        server: 10.0.30.134
        path: /medianfs/tidarr/downloads
        globalMounts:
          - path: /shared/nzb_downloads
