---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
data:
  bookmarks.yaml: |
    - Quick Links:
        - home-ops:
            - icon: github.png
              href: https://github.com/negativeFeedback/homeops
  docker.yaml: ""
  kubernetes.yaml: |
    gateway: true
    mode: cluster
  services.yaml: |
    - Infrastructure:
        - UniFi:
            href: https://unifi.ui.com/
            icon: unifi-controller.png

  settings.yaml: |
    background:
      image: https://ibb.co/mHVM4vT
      opacity: 25
    color: stone
    fiveColumns: false
    headerStyle: clean
    hideErrors: true
    hideVersion: true
    iconStyle: theme
    layout:
      Infrastructure:
        style: row
        columns: 3
      Observability:
        style: row
        columns: 3
      Automation:
        style: column
      Storage:
        style: column
      Tools:
        style: column
      Media:
        style: row
        columns: 3
      Quick Links:
        style: row
        columns: 3
    showStats: false
    statusStyle: dot
    target: _blank
    title: Home
  widgets.yaml: ""