
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pgadmin-secret
spec:
  refreshInterval: 8h
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore

  data:
    - secretKey: PGADMIN_DEFAULT_EMAIL
      remoteRef:
        key: "07bbfae9-86a0-457e-a995-b3b401708c28"

    - secretKey: PGADMIN_DEFAULT_PASSWORD
      remoteRef:
        key: "ad31aca6-58f9-4846-955b-b3b40170ac45"
