---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudflare-tunnel
      namespace: network
  values:
    controllers:
      calibre:
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/crocodilestick/calibre-web-automated
              tag: V3.1.4@sha256:577e846f104fd21453ef306eefb4a95dd95b3b9ddd2463a150944494284da0fd
            env:
              CACHE_DIR: /cache
              NETWORK_SHARE_MODE: true
              S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES: 1
              S6_READ_ONLY_ROOT: 1
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
                add:
                  # S6
                  - CHOWN
                  - SETUID
                  - SETGID
                  - FOWNER
                  - DAC_OVERRIDE

            resources:
              requests:
                cpu: 50m
                memory: 200Mi
              limits:
                memory: 600Mi
    defaultPodOptions:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        runAsNonRoot: false
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8083
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Calibre Web Automated
          gethomepage.dev/group: Service
          gethomepage.dev/icon: calibre-web.svg
          gethomepage.dev/name: Calibre Web
          gethomepage.dev/app: *app
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |-
            group: Service
            conditions: ["[STATUS] == 200"]
        hostnames: ["books.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8083
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
      books:
        type: nfs
        server: 10.0.30.134
        path: /medianfs/books
        globalMounts:
          - path: /calibre-library
      ingest:
        type: emptyDir
        globalMounts:
          - path: /cwa-book-ingest
