---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: openbao
spec:
  interval: 1h
  url: oci://ghcr.io/openbao/charts/openbao
  ref:
    semver: "0.x"
  layerSelector:
    mediaType: "application/vnd.cncf.helm.chart.content.v1.tar+gzip"
    operation: copy

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app openbao
spec:
  interval: 1h
  releaseName: *app

  chartRef:
    kind: OCIRepository
    name: openbao

  install:
    remediation:
      retries: -1
    crds: CreateReplace

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
    crds: CreateReplace

  values:
    global:
      enabled: true
      tlsDisable: true

    server:
      ha:
        enabled: true
        replicas: 3
        raft:
          enabled: true

      service:
        enabled: true

      dataStorage:
        enabled: true
        size: 10Gi
        storageClass: "ceph-block"
        accessMode: ReadWriteOnce


      readinessProbe:
        enabled: true
        path: "/v1/sys/health?standbyok=true&sealedcode=204&uninitcode=204"

    ui:
      enabled: true
      serviceType: ClusterIP

---

apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: openbao
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: OpenBao
    gethomepage.dev/description: Secrets management (Vault-compatible)
    gethomepage.dev/group: Security
    gethomepage.dev/icon: mdi-safe-square
    gethomepage.dev/app: openbao

    gatus.home-operations.com/enabled: "true"
    gatus.home-operations.com/endpoint: |-
      group: Security
      conditions: ["[STATUS] == 200"]
spec:
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  hostnames:
    - vault.${SECRET_DOMAIN}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: openbao-ui
          port: 8200
