---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: authentik
  annotations:
    gatus.home-operations.com/enabled: "true"
    gatus.home-operations.com/endpoint: |-
      group: Security
      conditions: ["[STATUS] == 200"]
      alerts:
        - type: ntfy
        - type: discord
        - type: github
spec:
  hostnames:
    - sso.gddnet.io
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /
#---
#apiVersion: gateway.networking.k8s.io/v1
#kind: HTTPRoute
#metadata:
#  name: proxy-sonarr
#  annotations:
#    gethomepage.dev/enabled: "true"
#    gethomepage.dev/name: Sonarr
#    gethomepage.dev/icon: sonarr.png
#    gethomepage.dev/group: Media
#    gethomepage.dev/description: Sonarr
#    hajimari.io/icon: simple-icons:sonarr
#spec:
#  hostnames:
#    - sonarr.gddnet.io
#  parentRefs:
#    - name: external
#      namespace: kube-system
#      sectionName: https
#  rules:
#    - backendRefs:
#        - name: authentik-server
#          port: 80
#      matches:
#        - path:
#            type: PathPrefix
#            value: /
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: proxy-radarr
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: Radarr
    gethomepage.dev/icon: radarr.png
    gethomepage.dev/group: Media
    gethomepage.dev/description: Radarr
    hajimari.io/icon: simple-icons:radarr
spec:
  hostnames:
    - radarr.gddnet.io
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: proxy-prowlarr
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: Prowlarr
    gethomepage.dev/icon: prowlarr.png
    gethomepage.dev/group: Media
    gethomepage.dev/description: Prowlarr
spec:
  hostnames:
    - prowlarr.gddnet.io
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: proxy-rook
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: Ceph
    gethomepage.dev/icon: ceph.png
    gethomepage.dev/group: Infrastructure
    gethomepage.dev/description: Ceph
    hajimari.io/icon: simple-icons:ceph
spec:
  hostnames:
    - rook.gddnet.io
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: proxy-paperless
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: Paperless
    gethomepage.dev/icon: paperless.png
    gethomepage.dev/group: Service
    gethomepage.dev/description: paperless

spec:
  hostnames:
    - paperless.gddnet.io
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /