---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: authentik
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/icon: authentik.png
    gethomepage.dev/name: Authentik
    gethomepage.dev/group: Infrastructure
    gethomepage.dev/app: authentik
    gethomepage.dev/description: OIDC User Management
    gethomepage.dev/widget.type: authentik
    gethomepage.dev/widget.url: http://authentik-server.gdd-security
    gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_AUTHENTIK_TOKEN}}"
    hajimari.io/icon: simple-icons:authentik
spec:
  hostnames:
    - sso.gddnet.io
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: proxy-sonarr
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: Sonarr
    gethomepage.dev/icon: sonarr.png
    gethomepage.dev/group: Media
    gethomepage.dev/app: sonarr
    gethomepage.dev/description: Sonarr
    hajimari.io/icon: simple-icons:sonarr
spec:
  hostnames:
    - sonarr.gddnet.io
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: proxy-radarr
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: Radarr
    gethomepage.dev/icon: radarr.png
    gethomepage.dev/group: Media
    gethomepage.dev/app: radarr
    gethomepage.dev/description: Radarr
    hajimari.io/icon: simple-icons:radarr
spec:
  hostnames:
    - radarr.gddnet.io
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: proxy-prowlarr
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: Prowlarr
    gethomepage.dev/icon: prowlarr.png
    gethomepage.dev/group: Media
    gethomepage.dev/app: prowlarr
    gethomepage.dev/description: Prowlarr
    hajimari.io/icon: simple-icons:radarr
spec:
  hostnames:
    - prowlarr.gddnet.io
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: proxy-rook
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: Ceph
    gethomepage.dev/icon: ceph.png
    gethomepage.dev/group: Infrastructure
    gethomepage.dev/app: ceph
    gethomepage.dev/description: Ceph
    hajimari.io/icon: simple-icons:ceph
spec:
  hostnames:
    - rook.gddnet.io
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: proxy-paperless
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: Paperless
    gethomepage.dev/icon: paperless.png
    gethomepage.dev/group: Service
    gethomepage.dev/app: paperless
    gethomepage.dev/description: paperless
    gethomepage.dev/namespace: gdd-service

spec:
  hostnames:
    - paperless.gddnet.io
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /