---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name:  &app ntfy
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudflare-tunnel
      namespace: network
  values:
    controllers:
      ntfy:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/vaskozl/ntfy
              tag: 2.15.0@sha256:5e62656b9e984ebc4fa45df6c80b8509e3bda7da8f5081f7942c15d09f3e8671
            env:
              PROMETHEUS_ENABLED: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /v1/health
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 25Mi
              limits:
                memory: 500Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      app:
        ports:
          http:
            port: &port 8080
    serviceMonitor:
      app:
        endpoints:
          - port: http
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Push Notifications
          gethomepage.dev/group: Service
          gethomepage.dev/icon: sh-ntfy.svg
          gethomepage.dev/name: Ntfy
          gethomepage.dev/app: ntfy
          gatus.home-operations.com/enabled: "true"
          gatus.home-operations.com/endpoint: |-
            group: Service
            conditions: ["[STATUS] == 200"]

        hostnames: ["alerts.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      data:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /data
      config:
        type: configMap
        name: ntfy-config
        globalMounts:
          - path: /etc/ntfy
