
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nextcloud-secret
  namespace: gdd-service
spec:
  refreshInterval: 12h
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  data:
  - secretKey: nextcloud-username
    remoteRef:
      key: "8348a9be-9771-4df1-bbf8-b365006fbfd0"
  - secretKey: nextcloud-password
    remoteRef:
      key: "020e2119-810b-4f4e-940a-b365006fd7c1"
  - secretKey: smtp_username
    remoteRef:
      key: "342e9345-e6b7-4213-be20-b3650075deb1"
  - secretKey: smtp_password
    remoteRef:
      key: "342e9345-e6b7-4213-be20-b3650075deb1"
  - secretKey: smtp_host
    remoteRef:
      key: "342e9345-e6b7-4213-be20-b3650075deb1"
  - secretKey: smtp_port
    remoteRef:
      key: "342e9345-e6b7-4213-be20-b3650075deb1"
---

apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nextcloud-data-local-volsync
spec:
  refreshInterval: 12h
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  data:
  - secretKey: VOLSYNC_LOCAL_RESTIC_PASSWORD
    remoteRef:
      key: "57657703-39e1-41a7-a226-b3860141f806"
  - secretKey: VOLSYNC_LOCAL_ACCESS_KEY_ID
    remoteRef:
      key: "072086ba-6674-4801-a2a7-b38601421aa1"
  - secretKey: VOLSYNC_LOCAL_BUCKET_ENDPOINT
    remoteRef:
      key: "be3c5c1a-1c6f-4e92-93e6-b38601422f4e"
  - secretKey: VOLSYNC_LOCAL_SECRET_ACCESS_KEY
    remoteRef:
      key: "25acb515-115c-435e-ad10-b3860142453b"
  target:
    template:
      engineVersion: v2
      data:
#        RESTIC_REPOSITORY: "{{ .RESTIC_REPOSITORY }}${NS}/${APP}"
        RESTIC_REPOSITORY: "{{ .VOLSYNC_LOCAL_BUCKET_ENDPOINT }}/volsync/${NS}/nextcloud-data"
        RESTIC_PASSWORD: "{{ .VOLSYNC_LOCAL_RESTIC_PASSWORD }}"
        AWS_ACCESS_KEY_ID: "{{ .VOLSYNC_LOCAL_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .VOLSYNC_LOCAL_SECRET_ACCESS_KEY }}"
---
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nextcloud-data-b2-volsync
spec:
  refreshInterval: 12h
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  data:
  - secretKey: VOLSYNC_B2_RESTIC_PASSWORD
    remoteRef:
      key: "ba58f8dc-b191-4224-90a3-b38601425ace"
  - secretKey: VOLSYNC_B2_ACCESS_KEY_ID
    remoteRef:
      key: "0d408eae-142c-4947-ba64-b38601426e3b"
  - secretKey: VOLSYNC_B2_BUCKET_ENDPOINT
    remoteRef:
      key: "4604a62e-9d1c-4655-99c2-b386014285af"
  - secretKey: VOLSYNC_B2_SECRET_ACCESS_KEY
    remoteRef:
      key: "11ce4859-90d2-4501-ac01-b3860142ab16"
  target:
    template:
      engineVersion: v2
      data:
#        RESTIC_REPOSITORY: "{{ .RESTIC_REPOSITORY }}${NS}/${APP}"
        RESTIC_REPOSITORY: "s3:https://{{ .VOLSYNC_B2_BUCKET_ENDPOINT }}/omni-talos-gdd/${NS}/nextcloud-data"
        RESTIC_PASSWORD: "{{ .VOLSYNC_B2_RESTIC_PASSWORD }}"
        AWS_ACCESS_KEY_ID: "{{ .VOLSYNC_B2_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .VOLSYNC_B2_SECRET_ACCESS_KEY }}"