---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/gateway.networking.k8s.io/gateway_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: seclabexternal
spec:
  gatewayClassName: cilium
  addresses:
    - type: IPAddress
      value: "10.0.32.14"
  infrastructure:
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      hostname: "*.securitylab.io"
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.securitylab.io"
      allowedRoutes:
        namespaces:
          from: All
      tls:
        certificateRefs:
          - kind: Secret
            name: ${SECRET_DOMAIN/./-}-production-tls
